@charset "utf-8";

/* 全局样式 */

body, h1, ul, p {
	margin: 0;
}

input {
	padding: 0;
}

ul {
	padding-left: 0;
	list-style: none;
}

body {
	font-family: Helvetica, Tahoma, Arial, "PingFang", "苹方", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
	font-size: 12px;
}

.container {
	width: 960px;
	margin: 0 auto;
	/*border: 1px solid #000;*/
}

.clearfix {
	overflow: hidden;
	_height: 0;
}


/* 页头 */

.top {
	background: #f8f8f8;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #d1d0d0;
}

.top span{
	margin-right: 40px;
	color: #999;
}

.top span, .logo {
	margin-left: 10px;
}

.logo h1 a{
	display: block;
	width: 219px;
	height: 67px;
	background: url(../images/logo.png) no-repeat;	
	text-indent: -9999px;
}

.logo, .search, .tel {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.search {
	width: 400px;
	margin-left: 80px;
	margin-right: 80px;
}

.search input {
	outline: none;
	height: 38px;
	border: 1px solid #0A5C5B;
}

.search input:first-child {
	width: 321px;
}

.search .btn {
	width: 75px;
	height: 40px;
	background: #0A5C5B;
	color: #fff;
	cursor: pointer;
}

.search p {
	margin-top: 8px;
	color: #bbb;
}
.tel {
	background: url(../images/telBG.png) no-repeat;
	width: 160px;
	height: 24px;
	padding-top: 30px;
	padding-left: 5px;
	color: #f50;
	font-weight: bold;
	font-size: 24px;
}

.nav {
	background-color: #0A5C5B;
}

.nav ul {
	margin-left: 10px;
	width: 940px;
	height: 45px;
	line-height: 45px;
}

.nav li {
	float: left;
}

.nav li a {
	display: block;
	width: 134px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.nav li a:hover {
	color: #f50;
}
.nav li a:hover, .active {
	background: url(../images/active.jpg);
}











